<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Table</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script type="text/javascript", src="/static/js/main.js"></script>
</head>
<body>
    <h1>My Plant</h1>
    <div style="display: flex; align-items: flex-start; gap: 32px;">
        <div style="flex: 1;">
            <label for="plant-select">Select Plant:</label><br>
            <select id="plant-select" class="plant-dropdown">
                <option value="Tomato" {% if data[0].plant == "Tomato" %}selected{% endif %}>Tomato</option>
                <option value="Pepper" {% if data[0].plant == "Pepper" %}selected{% endif %}>Pepper</option>
                <option value="Cucumber" {% if data[0].plant == "Cucumber" %}selected{% endif %}>Cucumber</option>
            </select>
            <div style="margin-top: 24px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
                <div>
                    <strong>Actual NPK Ratio:</strong>
                    <div class="actual-npk">{{ data[0].npk }}</div>
                </div>
                <div style="margin-top: 16px;">
                    <strong>Ideal NPK Ratio:</strong>
                    <div class="ideal-npk">{{ data[0].opt_npk }}</div>
                </div>
            </div>
        </div>
        <div style="display: flex; align-items: center; height: 100%;">
            <button class="aws-fetch" style="height: 40px;" data-id="{{ data[0].id }}">Fetch data</button>
        </div>
    </div>
</body>
</html>