<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Table</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script type="text/javascript", src="/static/js/main.js"></script>
</head>
<body>
    <h1>My plants</h1>
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Plant</th>
                <th>NPK Ratio</th>
                <th>Ideal NPK Ratio</th>
                <th>Fetch data</th> <!-- Queries AWS backend -->
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>
                    <select class="plant-dropdown" data-id="{{ item.id }}">
                        <option value="Tomato" {% if item.plant == "Tomato" %}selected{% endif %}>Tomato</option>
                        <option value="Pepper" {% if item.plant == "Pepper" %}selected{% endif %}>Pepper</option>
                        <option value="Cucumber" {% if item.plant == "Cucumber" %}selected{% endif %}>Cucumber</option>
                    </select>
                </td>
                <td>{{ item.npk }}</td>
                <td class="ideal-npk" data-id="{{ item.id }}">{{ item.opt_npk }}</td>
                <td>
                    <button class="aws-fetch" data-id="{{ item.id }}">Fetch data</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>